REACT_APP_API_BASE_URL=
GOOGLE_WEB_CLIENT_ID=
GOOGLE_WEB_CLIENT_SECRET=


todos -
add feedback and support mail
add blogs
add analyze day
that skeleton thing
back on update profile
refresh scroll
from suggestion card add a button to directly add it to selected date meal


for carb breakdown we need dietary fiber sugar and added sugars only and for fats we need saturated unsaturated and trans fat only and now 

go implement it with minimal but safest and efficient code 